* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shoppingCart {
    .shoppingCart-container {
        width: 1200px;
        min-height: 455px;
        margin: 30px auto;
        display: flex;
        .shoppingCart-left {
            flex: 8;
            padding: 0 30px;
            .shoppingCart-noti {
                display: flex;
                align-items: center;
                .icon {
                    color: green;
                    margin-right: 5px;
                }
                p {
                    color: green;
                }
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 15px;
                th {
                    border-bottom: 2px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
                td {
                    text-align: left;
                    padding: 8px;
                }
                tr {
                    .product {
                        display: flex;
                        align-items: center;
                        .icon {
                            color: #dddddd;
                            &:hover {
                                color: red;
                                cursor: pointer;
                            }
                        }
                        img {
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            margin: 0 20px;
                            cursor: pointer;
                        }
                        p {
                            font-size: 14px;
                            &:hover {
                                color: #30b5b2;
                                cursor: pointer;
                            }
                        }
                    }
                    .quantity {
                        .quantity-item {
                            display: flex;
                            height: 100%;
                            p {
                                width: 30px;
                                text-align: center;
                                border: 1px solid #dddddd;
                            }
                            .quantity-item-icon {
                                width: 30px;
                                text-align: center;
                                cursor: pointer;
                                border: 1px solid #dddddd;
                                &:hover {
                                    background-color: #dddddd;
                                }
                            }
                        }
                    }
                }
            }
            .shoppingCart-left-footer {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .shoppingCart-left-footer-btn {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: 20px;
                    border: 2px solid #30b5b2;
                    padding: 5px 15px;
                    cursor: pointer;
                    &:hover {
                        background-color: #30b5b2;
                        .icon {
                            color: white;
                        }
                        p {
                            color: white;
                        }
                    }
                    .icon {
                        font-size: 12px;
                        margin-right: 5px;
                        color: #30b5b2;
                    }
                    p {
                        color: #30b5b2;
                    }
                }
            }
        }
        .shoppingCart-right {
            flex: 4;
            padding: 0 30px;
            border-left: 1px solid #dddddd;
            h1 {
                height: 40px;
                border-bottom: 2px solid #dddddd;
                font-weight: 600;
                padding-top: 7px;
                margin-bottom: 25px;
            }
            .shoppingCart-right-total {
                height: 33px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                border-bottom: 1px solid #dddddd;
                padding: 5px;
                margin-bottom: 25px;
            }
            .shoppingCart-right-btn {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #30b5b2;
                cursor: pointer;
                margin-bottom: 25px;
                &:hover {
                    background-color: #369a98;
                }
                p {
                    color: white;
                    font-weight: 600;
                }
            }
            .shoppingCart-right-discount {
                height: 33px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #dddddd;
                padding: 5px;
                margin-bottom: 15px;
                .icon {
                    color: #369a98;
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
            .shoppingCart-right-discount-input {
                padding: 5px 10px;
                border: 1px solid #dddddd;
                height: 40px;
                margin-bottom: 25px;
                &:focus-within {
                    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
                    outline: 1px solid #ddd;
                }
                input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                }
            }
            .shoppingCart-right-discount-btn {
                padding: 5px 10px;
                border: 1px solid #dddddd;
                background-color: #fff;
                height: 40px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background-color: #30b5b2;

                    p {
                        color: white;
                    }
                }
                p {
                    font-size: 18px;
                    color: gray;
                    font-weight: 600;
                }
            }
        }
    }
}
