.sidebar {
    height: 100vh;
}
.homeContainer {
    background-color: #f7f7f9;
    .navbar {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
