.noProduct {
    height: 305px;
    .noProduct-container {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .noProduct-container-inner {
            .noProduct-container-btn {
                width: 230px;
                padding: 5px;
                margin-top: 20px;
                background-color: #30b5b2;
                width: 100%;
                height: 40px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background-color: #26918e;
                }
                p {
                    font-size: 17px;
                    line-height: 30px;
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
}
