.food {
    padding: 30px 0;

    .food-container {
        width: 1200px;
        margin: 0 auto;
        display: flex;

        .food-left {
            flex: 1;
            padding: 0 15px;

            .food-left-header {
                display: flex;
                margin-bottom: 30px;

                .food-left-header-home {
                    font-size: 18px;
                    color: rgba(102, 102, 102, 0.7);

                    &:hover {
                        color: #30b5b2;
                    }
                }

                span {
                    color: rgba(102, 102, 102, 0.7);
                    margin: 0 10px;
                }

                .food-left-header-food {
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .food-left-categoty {
                margin-bottom: 30px;

                .food-left-categoty-title {
                    font-weight: bold;
                    position: relative;
                    margin-bottom: 25px;

                    &::after {
                        content: '';
                        display: block;
                        background-color: #e5e5e5;
                        top: 140%;
                        left: 0;
                        width: 30px;
                        height: 3px;
                        position: absolute;
                    }
                }

                .food-left-categoty-content {
                    height: 100px;
                    border: 1px solid #dddddd;
                    padding: 20px;

                    p {
                        color: black;
                        &:hover {
                            color: #30b5b2;
                            cursor: pointer;
                        }
                    }

                    span {
                        display: block;
                        background-color: #dddddd;
                        width: 100%;
                        height: 1px;
                        margin: 10px 0;
                    }
                }
            }
            .food-left-range {
                margin-bottom: 30px;
                .food-left-range-title {
                    font-weight: bold;
                    position: relative;
                    margin-bottom: 25px;

                    &::after {
                        content: '';
                        display: block;
                        background-color: #e5e5e5;
                        top: 140%;
                        left: 0;
                        width: 30px;
                        height: 3px;
                        position: absolute;
                    }
                }
                .multi-range-slider {
                    display: flex;
                    position: relative;
                    border: none;
                    padding: 20px 0px;
                    box-shadow: none;
                    flex-direction: column;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    user-select: none;
                    .labels {
                        display: none;
                    }
                    .caption {
                        display: none;
                    }
                    .bar-left,
                    .bar-right {
                        width: 25%;
                        background-color: #f1f1f1;
                        border-radius: 10px 0px 0px 10px;
                        padding: 4px 0px;
                        box-shadow: none;
                    }

                    .bar-inner {
                        background-color: #ababab;
                        display: flex;
                        flex-grow: 1;
                        flex-shrink: 1;
                        position: relative;
                        border: solid 1px black;
                        justify-content: space-between;
                    }

                    .thumb::before {
                        content: '';
                        background-color: #666;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border: solid 1px #666;
                        box-shadow: none;
                        border-radius: 50%;
                        z-index: 1;
                        margin: -8px -12px;
                        cursor: pointer;
                    }

                    .bar-inner {
                        background-color: #ababab;
                        display: flex;
                        flex-grow: 1;
                        flex-shrink: 1;
                        position: relative;
                        border: solid 1px #ababab;
                        justify-content: space-between;
                    }
                }
                .food-left-range-btn {
                    display: flex;
                    justify-content: space-between;
                    .food-left-range-btn-filter {
                        width: 55px;
                        height: 30px;
                        background-color: #666;
                        border-radius: 99px;
                        text-align: center;
                        cursor: pointer;
                        p {
                            font-size: 1em;
                            color: white;
                            line-height: 30px;
                            font-weight: bold;
                        }
                        &:hover {
                            background-color: #928b8b;
                        }
                    }
                    .food-left-range-btn-price {
                        font-size: 1em;
                    }
                }
            }
            .food-right-products-title {
                font-weight: bold;
                position: relative;
                margin-bottom: 25px;

                &::after {
                    content: '';
                    display: block;
                    background-color: #e5e5e5;
                    top: 140%;
                    left: 0;
                    width: 30px;
                    height: 3px;
                    position: absolute;
                }
            }

            .food-right-products {
                max-height: 450px;
                border: 1px solid #dddddd;
                padding: 10px 15px;

                .food-right-products-item {
                    padding: 10px 0;
                    display: flex;
                    // align-items: center;

                    .avatar {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        margin-right: 15px;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #30b5b2;
                    }
                }
            }
        }

        .food-right {
            flex: 3;

            padding-top: 57px;

            .food-right-list-food {
                min-height: 386px;
                border-radius: 15px;
                text-align: center;
                cursor: pointer;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                position: relative;

                .btn-add {
                    position: absolute;
                    left: 10px;
                    top: 60%;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(48, 181, 178, 0.4);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 10px;

                    &:hover {
                        background-color: rgba(48, 181, 178, 0.9);
                    }

                    .btn {
                        color: #fff;
                        font-weight: 600;
                    }
                }

                .btn-detail {
                    position: absolute;
                    left: 10px;
                    top: 47%;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(48, 181, 178, 0.4);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 10px;

                    &:hover {
                        background-color: rgba(48, 181, 178, 0.9);
                    }

                    .btn {
                        color: #fff;
                        font-weight: 600;
                    }
                }

                &:hover {
                    outline: 2px solid #30b5b2;
                    transform: translateY(-2%);
                }

                span {
                    color: gray;
                    font-size: 15px;
                }

                h1 {
                    margin-bottom: 20px;

                    &:hover {
                        color: #30b5b2;
                    }
                }

                .thumbnail {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
            }
        }
    }
}
