* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    .pay {
        height: 140px;
        width: 100%;
        background-color: #30b5b2;

        .container {
            max-width: 1200px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 0 auto;

            .pay-item {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;

                .icon {
                    font-size: 40px;
                    color: white;
                    margin-right: 20px;
                }

                .infor {
                    h1,
                    p {
                        color: white;
                    }

                    h1 {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .home-dog,
    .home-cat,
    .home-food {
        margin-bottom: 30px;
        .home-dog-header,
        .home-cat-header,
        .home-food-header {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            margin: 60px 0;

            .home-dog-header-img,
            .home-cat-header-img,
            .home-food-header-img {
                display: flex;
                justify-content: center;
            }

            h1 {
                font-size: 35px;
                font-weight: 600;
            }

            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
            }
        }

        .home-dog-content,
        .home-cat-content,
        .home-food-content {
            max-width: 1200px;
            margin: 0 auto;

            .list-dog,
            .list-cat,
            .list-food {
                min-height: 386px;
                border-radius: 15px;
                text-align: center;
                cursor: pointer;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                position: relative;

                .btn-add {
                    position: absolute;
                    left: 10px;
                    top: 60%;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(48, 181, 178, 0.4);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 10px;

                    &:hover {
                        background-color: rgba(48, 181, 178, 0.9);
                    }

                    .btn {
                        color: #fff;
                        font-weight: 600;
                    }
                }

                .btn-detail {
                    position: absolute;
                    left: 10px;
                    top: 47%;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(48, 181, 178, 0.4);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 10px;

                    &:hover {
                        background-color: rgba(48, 181, 178, 0.9);
                    }

                    .btn {
                        color: #fff;
                        font-weight: 600;
                    }
                }

                &:hover {
                    outline: 2px solid #30b5b2;
                    transform: translateY(-2%);
                }

                span {
                    color: gray;
                    font-size: 15px;
                }

                h1 {
                    margin: 20px 0;

                    &:hover {
                        color: #30b5b2;
                    }
                }

                .thumbnail {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
            }
        }

        .home-dog-footer,
        .home-cat-footer,
        .home-food-footer {
            display: flex;
            margin: 50px 0;

            .btn {
                margin: 0 auto;
                padding: 5px;
                border-radius: 15px;
                background-color: #30b5b2;
                width: 145px;
                height: 50px;

                &:hover {
                    outline: 2px solid #5ce2df;
                    background-color: #5ce2df;
                    transform: translateY(-5%);
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }

                span {
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

    .bannerdog4 {
        background: url('../../asset/image/banner4.jpg') no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 460px;
        margin-bottom: 40px;
    }

    .bannerdog5 {
        .bannerdog5-left {
            background: url('../../asset/image/banner5.jpg') no-repeat center center;
            background-size: contain;
            width: 100%;
            height: 460px;

            &:hover {
                transition: filter 0.6s, opacity 0.6s, transform 0.6s, box-shadow 0.3s;
            }
        }

        .bannerdog5-right {
            background: url('../../asset/image/banner6.jpg') no-repeat center center;
            background-size: contain;
            width: 100%;
            height: 460px;
        }
    }
}
