.main {
    background-color: #ffffff;
    .sidebar_top {
        background: url('../../asset/image/logo1.png') center center no-repeat;
        width: 100%;
        height: 150px;
        cursor: pointer;
        background-size: cover;
    }

    .sidebar_content {
        .sidebar-item {
            margin: 0 20px;
            padding: 15px 25px;
            display: flex;
            align-items: center;
            font-weight: 600;
            transition: color 0.3s ease 0s;

            .icon {
                margin-right: 15px;
                font-size: 1.5rem;
                color: #349eff;
            }

            &:hover {
                color: #349eff;
            }
        }

        .active {
            border-radius: 25px;
            background: blue;
            color: white !important;
            background: #349eff;

            .icon {
                color: #ffffff;
            }
        }
    }
}
